<nav class="navbar">
  <div class="navbar-left">
    <span class="hamburger" id="hamburger">&#9776;</span>
  </div>
  <div class="navbar-center">
    <span class="logo">BlogPost</span>
  </div>
  <div class="navbar-right">
    <a href="/post"><button class="post-btn" action="/post">Post</button></a>
  </div>
</nav>
